{% extends 'index.html' %}

{% block 'title' %}
SIGN-UP
{% endblock %}

{% block 'content' %}
<div class="row justify-content-around">
    <div class="col-sm-3">
        <form action="" method ='post' class="bg-white p-4 rounded-3 text-dark mt-5 mb-2">
            <h3 class="text-dark text-center">- - - Sign Up Here - - -</h3>
        {% csrf_token %}
            <B>{% for fm in form%}
                {{fm.label_tag}}
                {{fm}}<p></p>
                <small class="text-danger">{{fm.errors}}</small>
            {% endfor %}</B>
            <br>
            <center>
                <b>
                <div class="d-flex align-items-center flex-column">
                <input type="submit" class="btn btn-outline-dark col-sm-8 mb-2 " value='SIGN UP'>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a class="mt-2 btn btn-outline-primary mt-3 col-sm-8" href="/login/">LOG IN</a>                
                </div>                
                </b>
            </center>
        </form>
    </div>
</div>
{% endblock %}